*{
    margin: 0%;
    padding: 0%;
    border: none;
    border-radius: 0%;
    box-shadow: none;
    box-sizing: border-box;
}

body{
    background: #fc466b;
    color: white;
    font-family: 'Lucida Sans';
}

.container{
    margin: 100px auto;
    height: auto;
    width: 500px;
    padding: 30px;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.container-top{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-top h1{
   margin:  0 20px;
   font-size: 1rem;
}

.container-top img{
    width: 40px;
}

.container-input-field{
    margin: 20px auto;
    position: relative;
}

.container-input-field input{
   background-color: rgba(214, 208, 208, 0.541);
   border-radius: 20px;
   padding:  10px 30px;
   margin: 5px 0px 5px 5px;
   line-height: 1.9rem;
   width: 80%;
   border: none;
   outline: none;
   flex: 1;
}

.container-input-field button{
    color: white;
    background-color: orangered;
    padding: 17.5px 40px;
    margin-top: 5px;
    position: absolute;
    right: 20px;
    border-radius: 20px;
}

 ul li{
    border-radius: 20px;
    list-style-type: none;
    cursor: pointer;
    padding: 12px 9px 12px 50px;
    user-select: none;
    font-size: 1rem;
    position: relative;
    width: 70%;
    border-bottom: 2px solid #222;
    margin: 10px;
}

ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 7px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 7px;
}

ul li span{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 1px;
    right: 5px;  
    font-size: 2rem;
    color: #222;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

ul li span:hover{
    background-color: rgb(232, 232, 232);
}
